<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: green;color: white;">
        <h1>INFO</h1>
        <ul>
            <li>PROCESS ID: {{info.processId}}</li>
            <li>VERSION NODE: {{info.versionNode}}</li>
            <li>SISTEMA OPERATIVO: {{info.plataforma}}</li>
            <li>USO DE MEMORIA: {{info.usoDeMemoria}}</li>
            <li>DIRECTORIO ACTUAL: {{info.directorioActual}}</li>
            <li>CARPETA: {{info.carpetaProyecto}}</li>
        </ul>
    </div>
</div>