<nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/login">Proyecto Backend</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/datos">Home</a>
                <a class="nav-link" href="/productos">Productos</a>
                <a class="nav-link" href="/carritos/{{datos.carritoId}}">Carrito</a>
                <a class="nav-link" href="/chat">Chat</a>
            </div>
            </div>
        </div>
</nav>
<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: rgb(77, 78, 85);color: white;">
        <h1>Productos:</h1>
            <table class="table table-dark">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Foto</th>
                    </tr>
                </thead>
                <tbody>
                {{#each productos}}
                    <tr>
                    <th scope="row"><button type="button" class="btn btn-light" onclick="addProduct(`{{this._id}}`)">Añadir al carrito</button></th>
                    <td>{{this.title}}</td>
                    <td>${{this.price}}</td>
                    <td>{{thumbnail}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
    </div>
</div>

<script>

    const socket = io.connect()

    function addProduct(prod_id){

        const data = {
            prod_id: prod_id,
            carritoId: `{{datos.carritoId}}`
        }

        alert("Producto añadido al carrito!")


        socket.emit("newAddedProduct", data)
    }

   
    
</script>